@model CNPM_QLQuanAo.Models.PhieuNhap

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PhieuNhap</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayNhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenNhaCung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNhaCung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NHAN_VIEN.TenNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHAN_VIEN.TenNV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaPhieu }) |
    @Html.ActionLink("Back to List", "Index")
</p>
