@model IEnumerable<CNPM_QLQuanAo.Models.PhieuNhap>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayNhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenNhaCung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NHAN_VIEN.TenNV)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayNhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenNhaCung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NHAN_VIEN.TenNV)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaPhieu }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaPhieu }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaPhieu })
        </td>
    </tr>
}

</table>
