@model IEnumerable<CNPM_QLQuanAo.Models.KHACH_HANG>
@{
    ViewBag.Title = "InDanhSachKH";
    Layout = null;
    var count = 0;
    var dateNow = DateTime.Now;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modernize Free</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        tr {
            text-align: center;
        }

        html, body {
            height: 100%;
            width: 100%;
            background-color: #212529;
        }

        h3 {
            text-align: center;
            font-size: 20px;
            margin: 20px auto;
        }

        .table-product {
            box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.7);
        }

        .table-responsive {
            width: 60%;
            margin: 30px auto;
            border: 1px solid black;
        }

        .name-store {
            width: 100%;
            text-align: center;
            color: indigo;
            margin-bottom: 0px;
        }

        .footer-report {
            margin-top: 20px;
            display: flex;
            justify-content: end;
        }

            .footer-report div {
                text-align: center;
            }

            .footer-report p {
                font-size: 15px;
                line-height: 10px;
            }

        .button-group {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            gap: 10px;
            padding-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container-fluid h-100 w-100 p-4">
        <div class="table-responsive bg-white table-product m-auto p-2">
            <p class="name-store">List of customers</p>
            <hr style="margin-top: 0px;" />
            <h3>DANH SÁCH KHÁCH HÀNG</h3>
            <table class="table w-100 table-bordered">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên Khách Hàng</th>
                        <th>Số Điện Thoại</th>
                        <th>Địa Chỉ</th>
                        <th>Email</th>
                        <th>Mật Khẩu</th>
                        <th>Giới Tính</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(++count)</td>
                            <td>@Html.DisplayFor(modelItem => item.TenKH)</td>
                            <td>@Html.DisplayFor(modelItem => item.SDT)</td>
                            <td>@Html.DisplayFor(modelItem => item.DiaChi)</td>
                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                            <td>@Html.DisplayFor(modelItem => item.MatKhau)</td>
                            <td>
                                @{
                                    var genderValue = item.GioiTinh.HasValue ? (item.GioiTinh.Value ? "Nam" : "Nữ") : "";
                                }
                                @genderValue
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="footer-report w-100">
                <div class="w-30">
                    <p>Nha Trang, ngày @dateNow.Day tháng @dateNow.Month năm @dateNow.Year</p>
                    <p>Người lập phiếu</p>
                    <h4>Quản Lý</h4>
                </div>
            </div>
        </div>
        <div class="button-group">
            <a href="#" class="btn btn-primary" style="Width: 100px; font-weight: normal">
                <i class="ti ti-printer"></i>
                In
            </a>
            <a href="@Url.Action("index")" class="btn btn-primary" style="Width: 100px; font-weight: normal">Quay Lại</a>
        </div>
    </div>
    <script src="~/Content/StyleAdmin/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/StyleAdmin/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/StyleAdmin/js/sidebarmenu.js"></script>
    <script src="~/Content/StyleAdmin/js/app.min.js"></script>
    <script src="~/Content/StyleAdmin/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/Content/StyleAdmin/libs/simplebar/dist/simplebar.js"></script>
    <script src="~/Content/StyleAdmin/js/dashboard.js"></script>
</body>
</html>
