

@{
    ViewBag.Title = "ThongKeBanHang";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .table th, .table td {
            text-align: center;
        }

        .sidebarnav li a {
            text-decoration: none;
        }

        .table-responsive tr th {
            text-align: center;
        }

        h2 {
            margin: 20px 0px;
        }

        .btn-event {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 10px 0px 20px 0px;
        }

        .btn {
            display: inline-block;
            max-width: 200px;
            background-color: lightskyblue;
            padding: 5px 10px;
            cursor: pointer;
        }

            .btn a {
                color: #4e73df !important;
                text-decoration: none;
            }

                .btn a:hover {
                    color: white !important;
                }
    </style>
}
@section sidebar{
    <ul id="sidebarnav">
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">SẢN PHẨM</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="@Url.Action("Index", "AdminSanPham")" aria-expanded="false">
                <span>
                    <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Danh sách sản phẩm</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="@Url.Action("Index", "AdminLoaiSPs")" aria-expanded="false">
                <span>
                    <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Danh sách loại sản phẩm</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link " href="@Url.Action("Index", "AdminChiTietPhieuNhaps")" aria-expanded="false">
                <span>
                    <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Lịch sử nhập hàng</span>
            </a>
        </li>
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">kHÁCH HÀNG</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="@Url.Action("index", "KhachHang")" aria-expanded="false">
                <span>
                    <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu">Danh sách khách hàng</span>
            </a>
        </li>
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">ĐƠN HÀNG</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="@Url.Action("Index", "ChiTietHoaDons")" aria-expanded="false">
                <span>
                    <i class="ti ti-alert-circle"></i>
                </span>
                <span class="hide-menu">Danh sách đơn hàng</span>
            </a>
        </li>
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">THỐNG KÊ</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link active" href="@Url.Action("ThongKeBanHang", "ThongKe")" aria-expanded="false">
                <span>
                    <i class="ti ti-cards"></i>
                </span>
                <span class="hide-menu">Thông kê</span>
            </a>
        </li>
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">NHÂN VIÊN</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="@Url.Action("Index", "AdminNHAN_VIEN")" aria-expanded="false">
                <span>
                    <i class="ti ti-file-description"></i>
                </span>
                <span class="hide-menu">Danh sách nhân viên</span>
            </a>
        </li>
    </ul>
}

<h2>Thống Kê Doanh Số Bán Hàng</h2>

<form method="get" action="@Url.Action("ThongKeBanHang", "ThongKe", new { Area = "Admin" })" class="btn-event">
    <div>
        <label for="thang">Chọn Tháng:</label>
        <select id="thang" name="thang">
            @for (int i = 1; i <= 12; i++)
            {
                <option value="@i" @(i == ViewBag.Thang ? "selected" : "")>@i</option>
            }
        </select>

        <label for="nam">Chọn Năm:</label>
        <select id="nam" name="nam">
            @for (int i = DateTime.Now.Year - 10; i <= DateTime.Now.Year; i++)
            {
                <option value="@i" @(i == ViewBag.Nam ? "selected" : "")>@i</option>
            }
        </select>
    </div>
    <div style="display: flex; justify-content: end; margin: 0px;">
        <button class="btn btn-primary" type="submit" style="margin-bottom: 20px; margin-left: 20px; max-width: 400px">Xem Thống kê </button>
        <p class="btn btn-primary" style="margin-bottom: 20px; margin-left: 20px; max-width: 400px; text-decoration: none;">
            @Html.ActionLink("In Thống kê", "InThongke")
        </p>
    </div>
</form>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>STT</th>
                <th>Số Hóa Đơn</th>
                <th>Ngày tạo</th>
                <th>Tổng tiền (VNĐ)</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>@Model[i].MaHD</td>
                    <td>@Model[i].NgayTao</td>
                    <td>@Model[i].TongTien.ToString("N0") VNĐ</td>
                </tr>
            }
            <tr>
                <td colspan="3">Tổng Doanh thu trong tháng:</td>
                <td>@ViewBag.TongDoanhThu.ToString("N0") VNĐ</td>
            </tr>
        </tbody>
    </table>
</div>
