@model CNPM_QLQuanAo.Models.NHAN_VIEN

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .container-fluid {
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
@section sidebar{
    <ul id="sidebarnav">
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">SẢN PHẨM</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link " href="@Url.Action("Index", "AdminSanPham")" aria-expanded="false">
                <span>
                    <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Danh sách sản phẩm</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="@Url.Action("Index", "AdminLoaiSPs")" aria-expanded="false">
                <span>
                    <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Danh sách loại sản phẩm</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="@Url.Action("Index", "AdminChiTietPhieuNhaps")" aria-expanded="false">
                <span>
                    <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Lịch sử nhập hàng</span>
            </a>
        </li>
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">kHÁCH HÀNG</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="@Url.Action("index", "KhachHang")" aria-expanded="false">
                <span>
                    <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu">Danh sách khách hàng</span>
            </a>
        </li>
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">ĐƠN HÀNG</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="@Url.Action("Index", "ChiTietHoaDons")" aria-expanded="false">
                <span>
                    <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu">Danh sách đơn hàng</span>
            </a>
        </li>
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">THỐNG KÊ</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="@Url.Action("ThongKeBanHang", "ThongKe")" aria-expanded="false">
                <span>
                    <i class="ti ti-cards"></i>
                </span>
                <span class="hide-menu">Thống kê</span>
            </a>
        </li>
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">NHÂN VIÊN</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link active " href="@Url.Action("Index", "AdminNHAN_VIEN")" aria-expanded="false">
                <span>
                    <i class="ti ti-file-description"></i>
                </span>
                <span class="hide-menu">Danh sách nhân viên</span>
            </a>
        </li>
    </ul>
}

<div>
    <div>
        <p style="text-align: center">Bạn có chắc chắn muốn xóa thông tin của nhân viên này không?</p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group d-sm-block d-md-flex" style="justify-content: center; align-items: center">

                <div class="col-md-offset-2" style="margin-right: 10px">
                    <input type="submit" value="Xóa" class="btn btn-default btn-primary" style="width: 100px" />
                </div>
                <div class="col-md-offset-2">
                    <a href="@Url.Action("Index")" class="btn btn-primary" style="Width: 100px; font-weight: normal">Quay Lại</a>
                </div>
            </div>
        }
    </div>
</div>
